/* Centraliza tudo na tela */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
}

/* Card */
.card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Título */
.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Botão */
.card button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: #1e40af;
}

/* Link */
.card p {
  text-align: center;
  margin-top: 15px;
}

.card a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}