.register-container{

  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  

}

.register-card{

  width:350px;
  padding:40px;
  background:white;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  text-align:center;

}

.register-card h2{

  margin-bottom:20px;

}

.register-card input{

  width:100%;
  padding:12px;
  margin-bottom:12px;
  border-radius:6px;
  border:1px solid #ccc;


}


.register-card input:focus{
  outline: none;
  border:1px solid #4f46e5;
  box-shadow:0 0 4px rgba(79,70,229,0.3);
}


  .register-card button{

    width:100%;
    padding:12px;
    background:#4f46e5;
    border:none;
    border-radius:6px;
    color:white;
    cursor:pointer;

  }

.register-card button:hover{

  background:#4338ca;

}

.register-card p{

  margin-top:15px;
}

.register-card a{

  color:#4f46e5;
  text-decoration:none;
  font-weight:bold;

}


.loading-text{
  margin-top:10px;
  color:#666;
  font-size:14px;
}